body {
	padding:0px;
	margin: 0px;
}

a {
	text-decoration: none;
	color: #FFF;
}

a:hover {
	color: #EFFF51;
}

h3 {
	text-align: center;
	font-family: Lobster, cursive;
	margin-bottom: 0px;
}

h4 {
	text-align: center;
	margin-top: 0px;
}

div:not(.navbar) {
	padding: 50px 0px;
}

p {
	text-align: center;
}

.navbar {
	background: #545480;
	padding: 1px;
}

.navbar li{
	list-style-type: none;
	display: inline;
	padding: 10px;
	border-right: 2px solid #50517A;
	border-left: 2px solid #5C5C8C;
	font-size: 2.5em;
	font-family: Lobster, cursive;
}

.navbar li:last-child {
	border-right:none;
}

.navbar li:first-child{
	border-left: none;
}

.header{
	background: url("images/finalapres.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}

#logo {
	width:90%;
	padding: 0% 5%;
}

.even {
	background-color: #50517A;
	color: #FFF;
}

.odd {
	background-color: #5C5C8C;
	color: #FFF;
	}