video {
	width: 100%;
}

h1 {
	text-align: center;
	font-size: 5em;
}

p {
	text-align: center;
	font-size: 3em;
}

.header-logo {
	height: 35px;
}

.menu {
	width: 50%;
}

.team-image {
	width:100%;
}

.team-image:hover {
	cursor: pointer;
	opacity: 0.2;
	background: #000000;
}

.col-md-3, .col-sm-6 {
	padding: 0;
	margin: 0;
}

a.navbar-brand{
	padding-top: 8px;
}

.tint:hover {
	/*opacity: 0.5;*/
	filter: opacity(50%);
}

.fa-glass, .fa-music {
	font-size: 5em;
	padding-left: auto;
}

.navbar-inverse .navbar-nav>li>a:hover{
	color: #8e06b3;
}